footer {
    display: block;
    background: skyblue;
    color: yellow;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

footer p {
    padding-top: 40px;
    margin-bottom: 0;
}
